<!-- example for json pipe  {{ users | json}} -->

<div class="container">
    <p>Counter in User Comp : {{ dataService.counter }}</p>
    <button class="btn btn-default" (click)="increase()">Increase</button>
</div>

<div class="container">
  <h1 class="text-center text-primary">
    Title from parent {{title}} 
    Child Control : 
            <input type="text" #childControl 
            (keyup)="onKeyup(childControl.value)">
  </h1>
</div>

<div class="container">
  <ng-content> </ng-content>
</div>

<div class="container">
  <ul class="list-unstyled">
    <li class="well" *ngFor="let user of users; index as i; first as isFirst; last as isLast">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2">
          {{i}} <br>
          isEven  ? {{isEven }} 
            <img [src]="user.image" class="img-responsive img-rounded">
            <button (click)="moreInfo(user)"
             class="btn btn-info btn-sm">More Info</button>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            <h1 appHighlight [defaultColor]="'aqua'" [myColor]="myColor" >{{user.firstName | uppercase}} {{user.lastName | uppercase}} </h1>
            <!-- <p [ngClass]="{'feature' : false, 'transform' :true}" >Date of Birth : {{ user.dob}} </p> -->
            <p [ngClass] = "myClasses">Date of Birth : {{ user.dob | date : 'MM/dd/yyy'}} </p>
           
            <!-- <p *ngIf="user.isWorking; else ElseTemplate">Income : {{user.income}} </p> -->           
            <p *appUnless="!user.isWorking">Income : {{user.income | currency : 'INR'}}</p>

            <em class="pull-right">
              Total Votes : {{user.votes}}
              <!-- <input type="number" 
              [value]="user.votes"
              (change)="user.votes=$event.target.value"> -->
              <input type="number" [(ngModel)]="user.votes">
            </em>
        </div> 
      </div>     
          <ng-template #ElseTemplate>
            <p>Poor guy {{user.firstName | uppercase}} {{user.lastName | uppercase}} is still searching Job </p>
          </ng-template>
    </li>
  </ul>
</div>

<div class="container">
    <ng-content select=".footer-sec" ></ng-content>
</div>
<!-- <ng-content select="footer"> 

</ng-content> -->

<div [ngSwitch]="id">
  <div *ngSwitchCase="'1'">One</div>
  <div *ngSwitchCase="'2'">Two</div>
  <div *ngSwitchCase="'3'">Three</div>
  <div *ngSwitchDefault>Default</div>
</div>